@model MonitoringTemograficApplication.Models.User
@{
  ViewBag.Title = "Login";
  Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


<body id="corpo">
  <div class="container">
    <main role="main">
      <br />
      <br />
      <section class="container d-flex justify-content-center col-12">
        <aside class="col-sm-4" id="CampLog">
          <div id="code_login_1">
            <div class="card" id="div1">
              <div id="TelaLog">
                <div id="testedv">
                  <div id="divinterna">
                   <button onclick="Fechar()"></button>

                  </div>

                </div>
                <article class="card-body">
                  @{ await Html.RenderPartialAsync("~/Views/Shared/_Menssage.cshtml"); }
                  <form method="post" action="/Termografic/Login" id="form">
                    <div class="form-group" id="USUARIO">
                      <label>Usuário</label> <br>
                      <input asp-for="Usuario" class="form-control" placeholder="Usuário" type="Usuario" id="InpUsu">
                    </div> <br> <br>
                    <div class="form-group" id="SENHA">
                      <label>Senha</label> <br>
                      <input asp-for="Senha" class="form-control" placeholder="******" type="password" id="InpSen">
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block" id="Botao"> Acessar </button>
                    </div>
                    <img src="~/CSP.png" alt="iconeCSP" id="icone">
                  </form>
                </article>
              </div>
              <div id="divimg">
                <img id="img" src="~/imgdiv.png" alt="img">
              </div>
            </div>
          </div>
        </aside>
      </section>
    </main>
  </div>

</body>






