
@model MonitoringTemograficApplication.Models.Processor

@{
  ViewBag.Title = "ProcessorTermografic";
}


<main role="main">
  <h2 style="text-align:center;">
    Cadastro Panela
  </h2>
  <br />
  <br />
  <section class="container  d-flex justify-content-center col-12">
    <aside class="col-sm-4">
      <div id="code_login_1">
        <div class="card">
          <article class="card-body" id="DivProcs">
            @{ await Html.RenderPartialAsync("~/Views/Shared/_Menssage.cshtml"); }
            <form method="post">
              <div class="form-group">
                <label asp-for="Panela" style="font-size:30px"></label>
                <input asp-for="Panela" class="form-control" placeholder="Digite o número da Panela" style="border-radius:15px; height:55px;">
                <span asp-validation-for="Panela" class="text-danger"></span>
              </div>

               <div class="form-group">
                <label asp-for="Corrida" style="font-size:30px"></label>
                <input asp-for="Corrida" class="form-control" placeholder="Digite o número da Corrida" style="border-radius:15px; height:55px;">
                <span asp-validation-for="Corrida" class="text-danger"></span>
              </div>
              <!----- VIDA PANELA----->

<div class="form-group">
                <label asp-for="Corrida" style="font-size:30px"></label>
                <input asp-for="Corrida" class="form-control" placeholder="Vida Panela " style="border-radius:15px; height:55px;">
                <span asp-validation-for="Corrida" class="text-danger"></span>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-outline-success btn-primary btn-block">Processar Alterações</button>

              </div>

            </form>
            <form method="post" action="Cancel">

              <button type="submit" class="btn btn-outline-secondary btn-block" onclick="Cancel()">Cancelar</button>
            </form>

          </article>
        </div>
      </div>
    </aside>
  </section>
</main>
